 :root {
    --primary: rgb(202, 0, 253);
  }
  
  * {
    outline: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  body {
    font-family: "poppins", sans-serif;
  }

  .wrapper {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .wrapper .form-box-register {
    position: relative;
    width: 400px;
    height: 500px;
    border: 1px solid rgba(255, 255, 255, 5);
    border-radius: 30px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    /* display:block; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2em;
  }

  .wrapper .form-box-register h2 {
    font-size: 2em;
    color:aliceblue;
    text-align: center;
  }

  .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid aliceblue;
    margin: 20px 0;
  }

  .input-box label {
    position: absolute;
    top: 50px;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: aliceblue;
    font-weight: 500;
    pointer-events: none;
  }

  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    font-size: 1em;
    color: aliceblue;
    font-weight: 600;
    padding: 0 35px 0 5px;
  }

  .btn-submit button {
    width: 75%;
    height: 40px;
    background: blueviolet;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
  }

  .btn-file {
    margin-right: 8em;
    margin-bottom: 0.5em;
    color: aliceblue;
  }

  .login-link {
    font-size: 0.9em;
    color: aliceblue;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
  }

  .login-link a {
    color: blueviolet;
    text-decoration: none;
    font-weight: 600;
  }

  .login-link a:hover {
    text-decoration: underline;
  }
